:root {
  --base-900: #222222;
  --base-700: #444444;
  --base-600: #555555;
  --base-500: #666666;
  --base-200: #bbbbbb;
  --base-100: #dddddd;
  --base-000: #ffffff;

  --primary-400: #ff7b00;
  --primary-200: #ff9d41;

  font-size: 10px;
}

:root {
  --border-radius: 5px;

  --color-background: var(--base-900);
  --color-text: var(--base-100);

  --control-set-border: var(--base-600) solid 1px;

  --control-toggle-off-color: var(--base-200);
  --control-toggle-on-color: var(--primary-400);

  --control-value-knob-color: var(--base-200);
  --control-value-dimple-color: var(--base-900);
  --control-value-highlight-color: var(--primary-400);
  --control-value-step-color: var(--base-600);

  --spacer: 1rem;
  --spacer-2x: 2rem;
  --spacer-3x: 3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
